asgiref==3.9.1
Django==4.2
django-allauth==65.1.0
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-filter==25.1
django-js-asset==3.1.2
pillow==11.3.0
psycopg2==2.9.10
sqlparse==0.5.3
tzdata==2025.2
